# NEHA RAGESH NAMBIAR
20BRS1110

In [1]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

An MBA aspirant was interested in knowing the impact of educational back ground (arts/commerce and Science/Engineering) on the final placement salaries. He is also aware that previous work experience has an impact on the salaries. Therefore, he choses educational background and work experience as 2 independent variables. Based on educational background, respondendts are categorised into 2 groups - one belongs to the arts and commerce stream and the other belongs to the science and engineering stream. Based on the previous work experience, respondents are again categorised into 2 groups- one with experience and the other without experience. Since we have 2 levels of each of the factors, this is called a 2*2 design. A sample of 30 students is randomly chosen and their salaries from campus recruitment as well as information on educational background and work experince. for educational background 1 represents arts and commerce and 2 represents science and engineering stream.For work experience1 represents students with experience and 2 represents students with no experience. Salary is given in the multiple of 100,000 INR

H01: The educational background and previous work experience have no bearing on the placement salaries of MBA students.

Ha1: MBA students from science stream and/or with previous work experience will get more salaries during final placements

In [4]:
df = pd.read_csv('anova2.csv')
df.head()

   Stu  Salary  Edu_back  Work_exp
0    1     8.5         1         1
1    2    10.8         1         1
2    3     9.7         1         1
3    4     8.8         1         1
4    5     7.8         1         2

In [5]:
# ONE_WAY ANOVA
ano = ols('Salary ~ Edu_back',data = df).fit()

In [8]:
one = sm.stats.anova_lm(ano,type = 2)

In [9]:
one

            df      sum_sq   mean_sq        F    PR(>F)
Edu_back   1.0    1.855053  1.855053  0.37671  0.544324
Residual  28.0  137.881827  4.924351      NaN       NaN

![title](anova21.png)

In [10]:
# TWO_WAY ANOVA

ano2 = ols('Salary ~ Edu_back + Work_exp',data = df).fit()
two = sm.stats.anova_lm(ano2,type = 2)
two

            df     sum_sq    mean_sq          F    PR(>F)
Edu_back   1.0   1.855053   1.855053   0.695193  0.411720
Work_exp   1.0  65.835003  65.835003  24.672081  0.000033
Residual  27.0  72.046824   2.668401        NaN       NaN

educational background has no significance on salary but work experience has

In [11]:
# INTERACTION EFFECT

ano3 = ols('Salary ~ Edu_back + Work_exp + Edu_back*Work_exp',data = df).fit()
Int = sm.stats.anova_lm(ano3,type = 2)
Int

                     df     sum_sq    mean_sq          F    PR(>F)
Edu_back            1.0   1.855053   1.855053   0.673331  0.419353
Work_exp            1.0  65.835003  65.835003  23.896211  0.000045
Edu_back:Work_exp   1.0   0.415801   0.415801   0.150924  0.700817
Residual           26.0  71.631023   2.755039        NaN       NaN

F-statistic corresponding to work experience is 23.896, which is significant at p < 0.001. F-statistics for educational background is 0.243 which is insignificant as p = 0.626. The interaction between work experience and educational Background is also insignificant

Therefore, null hypothesis is only partially supported. While the previous work experience has a significant impact on the placement salaries of MBA students, their previous educational background does not.

![title](anova22.png)
![title](anova23.png)
![title](anova24.png)